<manifest
    package="com.mfekim.testallo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Application -->
    <application
        android:name=".AVApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/av_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activity Launch -->
        <activity
            android:name=".AVLaunchActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activity Demand List -->
        <activity
            android:name=".demand.list.AVDemandListActivity"
            android:launchMode="singleTop">
        </activity>

        <!-- Activity Demand Detail -->
        <activity
            android:name=".demand.detail.AVDemandDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".demand.list.AVDemandListActivity">
        </activity>

        <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQpS49SYQcjGjO-cnKuoQBKXIdGaCpoqY"/>

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>
